---
# tasks file for baserow
- include_tasks: nodejs.yml
  when: baserow_install_nodejs | bool

- include_tasks: yarn.yml
  when: baserow_install_yarn | bool

- name: Install baserow apt dependencies
  ansible.builtin.apt:
    name: "{{baserow_apt_dependencies}}"
    state: present

- name: Create postgresql database
  become: true
  become_method: sudo
  become_user: postgres
  community.postgresql.postgresql_db:
    name: "{{baserow_db_name}}"

- name: Add "{{baserow_db_user}}" to "{{baserow_db_name}}"
  become: true
  become_method: sudo
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{baserow_db_user}}"
    password: "{{baserow_db_password}}"
    db: "{{baserow_db_name}}"
    priv: 'ALL'

- name: Set redis.conf to supervised by systemd
  ansible.builtin.lineinfile:
    path: /etc/redis/redis.conf
    regexp: '^supervised'
    line: supervised systemd
  notify: restart redis

- name: Create baserow user
  ansible.builtin.user:
    name: "{{baserow_system_user}}"

- name: Clone baserow git repo
  ansible.builtin.git:
    repo: "{{baserow_git_repo}}"
    dest: "{{baserow_base_path}}"

- name: Create media directory
  ansible.builtin.file:
    path: "{{baserow_base_path}}/media"
    mode: 0755
    owner: "{{baserow_system_user}}"
    state: directory

- name: baserow virtualenv
  ansible.builtin.pip:
    virtualenv: "{{baserow_base_path}}/backend/env"
    virtualenv_python: python3
    requirements: "{{baserow_venv_path}}/requirements/base.txt"

- name: Check if yarn requirements are installed
  stat:
    path: "{{baserow_base_path}}/web-frontend/node_modules"
  register: baserow_yarn_node_modules

- name: Install yarn requirements
  community.general.yarn:
    path: "{{baserow_base_path}}/web-frontend"
    production: true
  when: baserow_yarn_node_modules.stat.exists == false

- name: Check if nuxt.js build is complete
  stat:
    path: "{{baserow_base_path}}/web-frontend/.nuxt"
  register: baserow_nuxt

- name: Build nuxt frontend with shell
  shell: |
    {{baserow_base_path}}/web-frontend/node_modules/nuxt/bin/nuxt.js \
    build --config-file \
    {{baserow_base_path}}/web-frontend/config/nuxt.config.demo.js
  args:
    chdir: "{{baserow_base_path}}/web-frontend"
  when: baserow_nuxt.stat.exists == false

- name: Install nginx templates
  ansible.builtin.template:
    src: "{{item.src}}"
    dest: "/etc/nginx/sites-enabled/{{item.dest}}"
  loop:
    - {
      src: "baserow-backend.conf.j2",
      dest: "baserow-backend.conf"
    }
    - {
      src: "baserow-frontend.conf.j2",
      dest: "baserow-frontend.conf"
    }
    - {
      src: "baserow-media.conf.j2",
      dest: "baserow-media.conf"
    }
  notify: restart nginx
