---
# handlers file for baserow
- name: restart redis
  ansible.builtin.service:
    name: redis
    state: restarted

- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
